Repository beastyrabbit/beastypage: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-lint, ruff-format, tsc, tsc-discord-bot

ruff-lint:
  run: ruff check --fix {staged_files}

ruff-format:
  run: ruff format {staged_files}

tsc:
  run: cd frontend && bunx tsc --noEmit

tsc-discord-bot:
  run: cd backend/discord-bot && npx tsc --noEmit

fix: apply react-doctor remediation and metadata wrappers
  frontend/app/ancestry-tree/[slug]/AncestryTreeViewClient.tsx
  frontend/app/cat-color-palettes/layout.tsx
  frontend/app/catdex/CatdexPageClient.tsx
  frontend/app/catdex/page.tsx
  frontend/app/coinflip/highscores/layout.tsx
  frontend/app/coinflip/layout.tsx
  frontend/app/collection/CollectionPageClient.tsx
  frontend/app/collection/page.tsx
  frontend/app/gatcha/testing/collection-focus/layout.tsx
  frontend/app/palette-spinner/page.tsx
  frontend/app/perfect-cat-finder/PerfectCatFinderPageClient.tsx
  frontend/app/perfect-cat-finder/page.tsx
  frontend/app/tests/page.tsx
  frontend/app/tests/renderer-stress/layout.tsx
  frontend/app/view/[slug]/page.tsx
  frontend/app/visual-builder/page.tsx
  frontend/app/visual-builder/view/[slug]/page.tsx
  frontend/app/wheel/page.tsx
  frontend/components/adoption/AdoptionBatchClient.tsx
  frontend/components/ancestry-tree/AncestryTreeClient.tsx
  frontend/components/ancestry-tree/FamilyChartTree.tsx
  frontend/components/ancestry-tree/FoundingCoupleSelector.tsx
  frontend/components/ancestry-tree/SaveTreeDialog.tsx
  frontend/components/color-palette/ColorVariations.tsx
  frontend/components/color-palette/PaletteControls.tsx
  frontend/components/color-palette/PaletteDisplay.tsx
  frontend/components/color-palette/PaletteGrid.tsx
  frontend/components/common/PaletteMultiSelect.tsx
  frontend/components/common/PaletteSingleSelect.tsx
  frontend/components/common/VariantBar.tsx
  frontend/components/dash/AddWidgetModal.tsx
  frontend/components/dash/ReleaseNotesModal.tsx
  frontend/components/dev/RenderLayerDebugger.tsx
  frontend/components/dev/SpriteAssetExplorer.tsx
  frontend/components/pixelator/PipelineStepCard.tsx
  frontend/components/pixelator/PixelArtDetector.tsx
  frontend/components/pixelator/PreviewCanvas.tsx
  frontend/components/single-cat/HistoryClient.tsx
  frontend/components/wheel/ClassicWheelClient.tsx
Due: tsc

fix: address code review findings
  frontend/app/collection/CollectionPageClient.tsx
  frontend/app/perfect-cat-finder/PerfectCatFinderPageClient.tsx
  frontend/components/ancestry-tree/AncestryTreeClient.tsx
  frontend/components/ancestry-tree/FamilyChartTree.tsx
  frontend/components/ancestry-tree/SaveTreeDialog.tsx
  frontend/components/dev/RenderLayerDebugger.tsx
  frontend/lib/analytics.ts
Due: tsc

feature/react doctor balanced fixes (#48)
  frontend/app/ancestry-tree/[slug]/AncestryTreeViewClient.tsx
  frontend/app/cat-color-palettes/layout.tsx
  frontend/app/catdex/CatdexPageClient.tsx
  frontend/app/catdex/page.tsx
  frontend/app/coinflip/highscores/layout.tsx
  frontend/app/coinflip/layout.tsx
  frontend/app/collection/CollectionPageClient.tsx
  frontend/app/collection/page.tsx
  frontend/app/gatcha/testing/collection-focus/layout.tsx
  frontend/app/palette-spinner/page.tsx
  frontend/app/perfect-cat-finder/PerfectCatFinderPageClient.tsx
  frontend/app/perfect-cat-finder/page.tsx
  frontend/app/tests/page.tsx
  frontend/app/tests/renderer-stress/layout.tsx
  frontend/app/view/[slug]/page.tsx
  frontend/app/visual-builder/page.tsx
  frontend/app/visual-builder/view/[slug]/page.tsx
  frontend/app/wheel/page.tsx
  frontend/components/adoption/AdoptionBatchClient.tsx
  frontend/components/ancestry-tree/AncestryTreeClient.tsx
  frontend/components/ancestry-tree/FamilyChartTree.tsx
  frontend/components/ancestry-tree/FoundingCoupleSelector.tsx
  frontend/components/ancestry-tree/SaveTreeDialog.tsx
  frontend/components/color-palette/ColorVariations.tsx
  frontend/components/color-palette/PaletteControls.tsx
  frontend/components/color-palette/PaletteDisplay.tsx
  frontend/components/color-palette/PaletteGrid.tsx
  frontend/components/common/PaletteMultiSelect.tsx
  frontend/components/common/PaletteSingleSelect.tsx
  frontend/components/common/VariantBar.tsx
  frontend/components/dash/AddWidgetModal.tsx
  frontend/components/dash/ReleaseNotesModal.tsx
  frontend/components/dev/RenderLayerDebugger.tsx
  frontend/components/dev/SpriteAssetExplorer.tsx
  frontend/components/pixelator/PipelineStepCard.tsx
  frontend/components/pixelator/PixelArtDetector.tsx
  frontend/components/pixelator/PreviewCanvas.tsx
  frontend/components/single-cat/HistoryClient.tsx
  frontend/components/wheel/ClassicWheelClient.tsx
  frontend/lib/analytics.ts
Due: tsc

fix: make spin timing utility server-safe
  frontend/utils/spinTiming.ts
Due: tsc

fix: make spin timing utility server-safe (#49)
  frontend/utils/spinTiming.ts
Due: tsc

chore: trim AGENTS.md to actionable instructions only
  AGENTS.md
Due: none

fix: add 20 pure palette JSON files for backend renderer
  backend/renderer_service/renderer_service/data/palettes/arctic-waters.json
  backend/renderer_service/renderer_service/data/palettes/coral-reef.json
  backend/renderer_service/renderer_service/data/palettes/crimson-flame.json
  backend/renderer_service/renderer_service/data/palettes/desert-sand.json
  backend/renderer_service/renderer_service/data/palettes/electric-grass.json
  backend/renderer_service/renderer_service/data/palettes/ember-glow.json
  backend/renderer_service/renderer_service/data/palettes/emerald-forest.json
  backend/renderer_service/renderer_service/data/palettes/espresso-bean.json
  backend/renderer_service/renderer_service/data/palettes/golden-hour.json
  backend/renderer_service/renderer_service/data/palettes/jade-mist.json
  backend/renderer_service/renderer_service/data/palettes/midnight-velvet.json
  backend/renderer_service/renderer_service/data/palettes/midnight-wine.json
  backend/renderer_service/renderer_service/data/palettes/neon-blossom.json
  backend/renderer_service/renderer_service/data/palettes/ocean-depths.json
  backend/renderer_service/renderer_service/data/palettes/peach-sorbet.json
  backend/renderer_service/renderer_service/data/palettes/rose-garden.json
  backend/renderer_service/renderer_service/data/palettes/royal-amethyst.json
  backend/renderer_service/renderer_service/data/palettes/storm-cloud.json
  backend/renderer_service/renderer_service/data/palettes/tropical-lagoon.json
  backend/renderer_service/renderer_service/data/palettes/twilight-haze.json
Due: none

feat: add 3 greyscale palettes and configure portless for dev
  backend/renderer_service/renderer_service/data/palettes/cold-steel.json
  backend/renderer_service/renderer_service/data/palettes/greyscale.json
  backend/renderer_service/renderer_service/data/palettes/ink-wash.json
  frontend/lib/palettes/pure/cold-steel.ts
  frontend/lib/palettes/pure/greyscale.ts
  frontend/lib/palettes/pure/index.ts
  frontend/lib/palettes/pure/ink-wash.ts
  frontend/lib/palettes/types.ts
  frontend/package.json
Due: tsc

feat: add 6 textile-inspired pattern palettes
  backend/renderer_service/renderer_service/data/palettes/bavarian-tracht.json
  backend/renderer_service/renderer_service/data/palettes/black-watch.json
  backend/renderer_service/renderer_service/data/palettes/country-tweed.json
  backend/renderer_service/renderer_service/data/palettes/oktoberfest.json
  backend/renderer_service/renderer_service/data/palettes/royal-stewart.json
  backend/renderer_service/renderer_service/data/palettes/savile-row.json
  frontend/lib/palettes/index.ts
  frontend/lib/palettes/textile/bavarian-tracht.ts
  frontend/lib/palettes/textile/black-watch.ts
  frontend/lib/palettes/textile/country-tweed.ts
  frontend/lib/palettes/textile/index.ts
  frontend/lib/palettes/textile/oktoberfest.ts
  frontend/lib/palettes/textile/royal-stewart.ts
  frontend/lib/palettes/textile/savile-row.ts
  frontend/lib/palettes/types.ts
Due: tsc

feat: add pattern rendering on cat sprites with 13 pattern types
  backend/renderer_service/renderer_service/data/palettes/argyle-patterns.json
  backend/renderer_service/renderer_service/data/palettes/basketweave-patterns.json
  backend/renderer_service/renderer_service/data/palettes/buffalo-patterns.json
  backend/renderer_service/renderer_service/data/palettes/checkerboard-patterns.json
  backend/renderer_service/renderer_service/data/palettes/chevron-patterns.json
  backend/renderer_service/renderer_service/data/palettes/diagonal-patterns.json
  backend/renderer_service/renderer_service/data/palettes/flag-patterns.json
  backend/renderer_service/renderer_service/data/palettes/gingham-patterns.json
  backend/renderer_service/renderer_service/data/palettes/houndstooth-patterns.json
  backend/renderer_service/renderer_service/data/palettes/pinstripe-patterns.json
  backend/renderer_service/renderer_service/data/palettes/polkadot-patterns.json
  backend/renderer_service/renderer_service/data/palettes/tartan-patterns.json
  backend/renderer_service/renderer_service/data/palettes/windowpane-patterns.json
  backend/renderer_service/renderer_service/renderer/patterns.py
  backend/renderer_service/renderer_service/renderer/sprite_mapper.py
  backend/renderer_service/renderer_service/renderer/v3_renderer.py
  frontend/app/cat-color-palettes/page.tsx
  frontend/components/common/PaletteMultiSelect.tsx
  frontend/components/common/PaletteSingleSelect.tsx
  frontend/components/common/usePaletteOptions.ts
  frontend/lib/palettes/index.ts
  frontend/lib/palettes/pattern-css.ts
  frontend/lib/palettes/textile/argyle-patterns.ts
  frontend/lib/palettes/textile/basketweave-patterns.ts
  frontend/lib/palettes/textile/buffalo-patterns.ts
  frontend/lib/palettes/textile/checkerboard-patterns.ts
  frontend/lib/palettes/textile/chevron-patterns.ts
  frontend/lib/palettes/textile/diagonal-patterns.ts
  frontend/lib/palettes/textile/flag-patterns.ts
  frontend/lib/palettes/textile/gingham-patterns.ts
  frontend/lib/palettes/textile/houndstooth-patterns.ts
  frontend/lib/palettes/textile/index.ts
  frontend/lib/palettes/textile/pinstripe-patterns.ts
  frontend/lib/palettes/textile/polkadot-patterns.ts
  frontend/lib/palettes/textile/tartan-patterns.ts
  frontend/lib/palettes/textile/windowpane-patterns.ts
  frontend/lib/palettes/types.ts
Due: ruff-lint, ruff-format, tsc

fix: address code review findings
  backend/renderer_service/renderer_service/renderer/patterns.py
  backend/renderer_service/renderer_service/renderer/sprite_mapper.py
  backend/renderer_service/renderer_service/renderer/v3_renderer.py
  frontend/app/cat-color-palettes/page.tsx
  frontend/lib/palettes/pattern-css.ts
Due: ruff-lint, ruff-format, tsc

fix: address greptile review feedback
  frontend/lib/palettes/pattern-css.ts
Due: tsc

fix: address greptile review feedback (round 2)
  backend/renderer_service/renderer_service/renderer/patterns.py
  frontend/app/cat-color-palettes/page.tsx
Due: ruff-lint, ruff-format, tsc

docs: update AGENTS.md port references to use portless
  AGENTS.md
Due: none

feat: SVG pattern engine + 42 world patterns + 68 flags + category filters
  CLAUDE.md
  backend/renderer_service/Dockerfile
  backend/renderer_service/pyproject.toml
  backend/renderer_service/renderer_service/renderer/patterns.py
  backend/renderer_service/uv.lock
  frontend/CLAUDE.md
  frontend/app/cat-color-palettes/page.tsx
  frontend/lib/palettes/index.ts
  frontend/lib/palettes/pattern-css.ts
  frontend/lib/palettes/textile/african-patterns.ts
  frontend/lib/palettes/textile/art-deco-patterns.ts
  frontend/lib/palettes/textile/checkerboard-patterns.ts
  frontend/lib/palettes/textile/chinese-patterns.ts
  frontend/lib/palettes/textile/european-ornate.ts
  frontend/lib/palettes/textile/flag-patterns.ts
  frontend/lib/palettes/textile/index.ts
  frontend/lib/palettes/textile/indian-patterns.ts
  frontend/lib/palettes/textile/indonesian-patterns.ts
  frontend/lib/palettes/textile/japanese-patterns.ts
  frontend/lib/palettes/textile/korean-patterns.ts
  frontend/lib/palettes/textile/middle-eastern-rugs.ts
  frontend/lib/palettes/textile/scottish-clans.ts
  frontend/lib/palettes/types.ts
Due: ruff-lint, ruff-format, tsc

fix: address Greptile review findings
  backend/renderer_service/renderer_service/renderer/patterns.py
  frontend/lib/palettes/pattern-css.ts
Due: ruff-lint, ruff-format, tsc

fix: resolve remaining Greptile review comments
  frontend/lib/palettes/index.ts
  frontend/lib/palettes/pattern-css.ts
Due: tsc

fix: complete chineseLatticeCss with all 8 polygons
  frontend/lib/palettes/pattern-css.ts
Due: tsc

style: ruff format patterns.py
  backend/renderer_service/renderer_service/renderer/patterns.py
Due: ruff-lint, ruff-format

fix: address greptile review feedback
  backend/renderer_service/renderer_service/renderer/patterns.py
  frontend/lib/palettes/pattern-css.ts
Due: ruff-lint, ruff-format, tsc

feat: SVG pattern engine + 42 world patterns + 68 flags + category filters (#51)
  AGENTS.md
  CLAUDE.md
  backend/renderer_service/Dockerfile
  backend/renderer_service/pyproject.toml
  backend/renderer_service/renderer_service/renderer/patterns.py
  backend/renderer_service/uv.lock
  frontend/CLAUDE.md
  frontend/app/cat-color-palettes/page.tsx
  frontend/lib/palettes/index.ts
  frontend/lib/palettes/pattern-css.ts
  frontend/lib/palettes/textile/african-patterns.ts
  frontend/lib/palettes/textile/art-deco-patterns.ts
  frontend/lib/palettes/textile/checkerboard-patterns.ts
  frontend/lib/palettes/textile/chinese-patterns.ts
  frontend/lib/palettes/textile/european-ornate.ts
  frontend/lib/palettes/textile/flag-patterns.ts
  frontend/lib/palettes/textile/index.ts
  frontend/lib/palettes/textile/indian-patterns.ts
  frontend/lib/palettes/textile/indonesian-patterns.ts
  frontend/lib/palettes/textile/japanese-patterns.ts
  frontend/lib/palettes/textile/korean-patterns.ts
  frontend/lib/palettes/textile/middle-eastern-rugs.ts
  frontend/lib/palettes/textile/scottish-clans.ts
  frontend/lib/palettes/types.ts
Due: ruff-lint, ruff-format, tsc

feat: expand pattern collection — Japanese, medieval, famous, continental
  backend/renderer_service/renderer_service/renderer/patterns.py
  frontend/lib/palettes/index.ts
  frontend/lib/palettes/pattern-css.ts
  frontend/lib/palettes/textile/american-patterns.ts
  frontend/lib/palettes/textile/famous-patterns.ts
  frontend/lib/palettes/textile/index.ts
  frontend/lib/palettes/textile/japanese-patterns.ts
  frontend/lib/palettes/textile/medieval-patterns.ts
  frontend/lib/palettes/textile/scandinavian-patterns.ts
  frontend/lib/palettes/types.ts
Due: ruff-lint, ruff-format, tsc

style: ruff format patterns.py
  backend/renderer_service/renderer_service/renderer/patterns.py
  frontend/lib/palettes/pattern-css.ts
Due: ruff-lint, ruff-format, tsc

fix: address greptile review feedback
  backend/renderer_service/renderer_service/renderer/patterns.py
  frontend/lib/palettes/pattern-css.ts
  frontend/lib/palettes/textile/medieval-patterns.ts
  frontend/lib/palettes/types.ts
Due: ruff-lint, ruff-format, tsc

fix: address greptile review feedback (round 2)
  backend/renderer_service/renderer_service/renderer/patterns.py
  frontend/lib/palettes/pattern-css.ts
Due: ruff-lint, ruff-format, tsc

fix: update stale trefoil labels after rename
  frontend/lib/palettes/textile/medieval-patterns.ts
Due: tsc

feat: expand patterns — Japanese, medieval, famous, continental (#52)
  backend/renderer_service/renderer_service/renderer/patterns.py
  frontend/lib/palettes/index.ts
  frontend/lib/palettes/pattern-css.ts
  frontend/lib/palettes/textile/american-patterns.ts
  frontend/lib/palettes/textile/famous-patterns.ts
  frontend/lib/palettes/textile/index.ts
  frontend/lib/palettes/textile/japanese-patterns.ts
  frontend/lib/palettes/textile/medieval-patterns.ts
  frontend/lib/palettes/textile/scandinavian-patterns.ts
  frontend/lib/palettes/types.ts
Due: ruff-lint, ruff-format, tsc

fix: address code review findings
  backend/discord-bot/src/commands/config.ts
  backend/discord-bot/src/utils/api-client.ts
  frontend/components/cat-settings/CatSettingsClient.tsx
  frontend/components/cat-settings/ExampleCatGrid.tsx
  frontend/components/cat-settings/wizard-steps/AccessoriesStep.tsx
  frontend/components/cat-settings/wizard-steps/AfterlifeStep.tsx
  frontend/components/cat-settings/wizard-steps/PalettesStep.tsx
  frontend/components/cat-settings/wizard-steps/ScarsStep.tsx
  frontend/components/cat-settings/wizard-steps/SummaryStep.tsx
  frontend/components/cat-settings/wizard-steps/TortieStep.tsx
  frontend/components/cat-settings/wizard-steps/WelcomeStep.tsx
  frontend/components/single-cat/SingleCatPlusClient.tsx
  frontend/lib/cat-v3/random-cat-server.ts
  frontend/lib/cat-v3/randomGenerator.ts
  frontend/scripts/sync-renderer-palettes.ts
Due: tsc, tsc-discord-bot

fix: address greptile review feedback
  frontend/lib/palettes/__tests__/renderer-data-parity.test.ts
  frontend/scripts/sync-renderer-palettes.ts
Due: tsc

fix: auto-apply settings codes and improve cat generation pipeline
  .gitignore
  AGENTS.md
  CLAUDE.md
  frontend/components/cat-builder/types.ts
  frontend/components/cat-settings/CatSettingsClient.tsx
  frontend/components/cat-settings/ExampleCatGrid.tsx
  frontend/components/cat-settings/GuidedSettingsWizard.tsx
  frontend/components/cat-settings/WizardExampleCats.tsx
  frontend/components/cat-settings/wizard-steps/AccessoriesStep.tsx
  frontend/components/cat-settings/wizard-steps/AfterlifeStep.tsx
  frontend/components/cat-settings/wizard-steps/ForceInitialRollInfo.tsx
  frontend/components/cat-settings/wizard-steps/ScarsStep.tsx
  frontend/components/cat-settings/wizard-steps/TortieStep.tsx
  frontend/components/common/LayerCountModeSelector.tsx
  frontend/components/single-cat/SingleCatPlusClient.tsx
  frontend/lib/analytics.ts
  frontend/lib/cat-v3/__tests__/random-cat-server.test.ts
  frontend/lib/cat-v3/random-cat-server.ts
  frontend/lib/cat-v3/randomGenerator.ts
  frontend/lib/cat-v3/slotMaterializer.ts
  frontend/lib/cat-v3/types.ts
  frontend/lib/portable-settings/__tests__/encoding.test.ts
  frontend/lib/portable-settings/encoding.ts
  frontend/lib/portable-settings/helpers.ts
  frontend/lib/portable-settings/registry.ts
  frontend/lib/portable-settings/types.ts
  frontend/lib/single-cat/catGeneratorV3.ts
  frontend/utils/singleCatVariants.ts
Due: tsc

Path conditions:
  ruff-lint: any of: backend/**/*.py
  ruff-format: any of: backend/**/*.py
  tsc: any of: frontend/**/*.{ts,tsx}
  tsc-discord-bot: any of: backend/discord-bot/**/*.ts
