Repository beastyrabbit/beastypage: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-lint, ruff-format, tsc, tsc-discord-bot

lefthook.yml:

pre-commit:
  commands:
    gitleaks:
      run: gitleaks git --staged --no-banner
      fail_text: "Secrets detected! Remove before committing."
    ruff-lint:
      glob: "backend/**/*.py"
      run: ruff check --fix {staged_files}
    ruff-format:
      glob: "backend/**/*.py"
      run: ruff format {staged_files}
    tsc:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && bunx tsc --noEmit
    tsc-discord-bot:
      glob: "backend/discord-bot/**/*.ts"
      run: cd backend/discord-bot && npx tsc --noEmit

fix: address settings code review
  frontend/components/stream-control/StreamControlClient.tsx
  frontend/lib/portable-settings/codecs/payload.ts
Due: tsc

feat: use v3 portable settings codes
  frontend/components/stream-control/StreamControlClient.tsx
  frontend/lib/portable-settings/__tests__/encoding.test.ts
  frontend/lib/portable-settings/codecs/currentV3.ts
  frontend/lib/portable-settings/codecs/payload.ts
  frontend/lib/portable-settings/codecs/settingsCode.ts
  frontend/lib/portable-settings/encoding.ts
  frontend/lib/portable-settings/index.ts
  frontend/lib/portable-settings/registry.ts
  frontend/lib/portable-settings/scripts/generate-wordlist.py
  frontend/lib/portable-settings/wordlist-v3.ts
  frontend/lib/portable-settings/wordlist.ts
Due: tsc

fix: preserve OBS afterlife history
  frontend/components/stream-control/OBSSpinClient.tsx
  frontend/components/stream-control/StreamControlClient.tsx
  frontend/utils/catSettingsHelpers.test.ts
  frontend/utils/catSettingsHelpers.ts
Due: tsc

fix: address stream control review findings
  frontend/components/stream-control/OBSSpinClient.tsx
  frontend/components/stream-control/StreamControlClient.tsx
  frontend/convex/catStream.ts
  frontend/convex/schema.ts
  frontend/convex/streamWheel.ts
  frontend/lib/wheel/__tests__/streamWheel.test.ts
  frontend/utils/catSettingsHelpers.test.ts
  frontend/utils/catSettingsHelpers.ts
Due: tsc

fix: resolve greptile stream review
  frontend/components/stream-control/OBSSpinClient.tsx
  frontend/convex/streamWheel.ts
Due: tsc

fix: preserve OBS afterlife history
  frontend/components/stream-control/OBSSpinClient.tsx
  frontend/components/stream-control/StreamControlClient.tsx
  frontend/convex/catStream.ts
  frontend/convex/schema.ts
  frontend/convex/streamWheel.ts
  frontend/lib/wheel/__tests__/streamWheel.test.ts
  frontend/utils/catSettingsHelpers.test.ts
  frontend/utils/catSettingsHelpers.ts
Due: tsc

feat: add evolution lines generator
  frontend/app/api/preview/[id]/route.ts
  frontend/app/api/renderer/_lib/proxy.ts
  frontend/app/evolution-generator/page.tsx
  frontend/app/evolution-generator/widget.ts
  frontend/app/evolution/[slug]/page.tsx
  frontend/app/gatcha/page.tsx
  frontend/app/projects/gacha/page.tsx
  frontend/app/projects/page.tsx
  frontend/components/evolution/EvolutionBatchClient.tsx
  frontend/components/evolution/EvolutionGeneratorClient.tsx
  frontend/components/single-cat/HistoryClient.tsx
  frontend/convex/mapper.ts
  frontend/lib/dash/registry.generated.ts
  frontend/lib/evolution/__tests__/evolutionGenerator.test.ts
  frontend/lib/evolution/__tests__/evolutionPools.test.ts
  frontend/lib/evolution/evolutionGenerator.ts
  frontend/lib/evolution/evolutionPools.ts
  frontend/lib/single-cat/catGeneratorV2.js
  frontend/vitest.config.ts
  frontend/vitest.setup.ts
Due: tsc

refactor: remove legacy cat renderer
  backend/renderer_service/README.md
  backend/renderer_service/renderer_service/app/__init__.py
  backend/renderer_service/renderer_service/models.py
  backend/renderer_service/renderer_service/renderer/sprite_mapper.py
  backend/renderer_service/renderer_service/renderer/stages.py
  backend/renderer_service/tests/test_render_smoke.py
  backend/renderer_service/tools/parity_check.py
  frontend/app/api/renderer/_lib/proxy.ts
  frontend/app/dev/cat-v3/page.tsx
  frontend/app/dev/random-distribution/page.tsx
  frontend/app/dev/render-debug/page.tsx
  frontend/app/tests/page.tsx
  frontend/components/dev/CatRendererComparison.tsx
  frontend/components/dev/RandomDistributionLab.tsx
  frontend/components/dev/RenderLayerDebugger.tsx
  frontend/components/dev/SpriteAssetExplorer.tsx
  frontend/lib/single-cat/catGeneratorV2.js
  frontend/scripts/render_param.ts
  frontend/scripts/v2_worker.ts
  frontend/tests/api/renderer-proxy.spec.ts
  frontend/tests/random/generator-parity.spec.ts
  frontend/tests/random/generator.spec.ts
  frontend/vitest.setup.ts
  package.json
Due: ruff-lint, ruff-format, tsc

fix: address renderer refactor review comments
  frontend/app/api/renderer/_lib/proxy.ts
  frontend/tests/api/renderer-proxy.spec.ts
  frontend/vitest.setup.ts
Due: tsc

fix: show all poses in builders
  frontend/components/cat-builder/hooks.ts
  frontend/lib/cat-v3/__tests__/poseOptions.test.ts
  frontend/lib/cat-v3/poseOptions.ts
Due: tsc

fix: address sprite review feedback
  backend/renderer_service/renderer_service/renderer/repository.py
  backend/renderer_service/tests/test_accessory_mapping.py
  frontend/app/api/renderer/_lib/proxy.ts
  frontend/components/single-cat/SingleCatPlusClient.tsx
  frontend/components/single-cat/ViewerClient.tsx
  frontend/components/stream-control/OBSSpinClient.tsx
  frontend/components/visual-builder/VisualBuilderClient.tsx
  frontend/lib/cat-v3/__tests__/poseOptions.test.ts
  frontend/lib/cat-v3/poseOptions.ts
  frontend/lib/cat-v3/random-cat-server.ts
  frontend/lib/cat-v3/randomGenerator.ts
  frontend/tests/api/renderer-proxy.spec.ts
Due: ruff-lint, ruff-format, tsc

fix: clear stale ancestry pose names
  frontend/components/ancestry-tree/AncestryTreeClient.tsx
Due: tsc

fix: address greptile sprite review
  frontend/components/stream-control/OBSSpinClient.tsx
  frontend/lib/single-cat/spriteMapper.js
Due: tsc

fix: require pose data for sprite sheets
  frontend/lib/single-cat/__tests__/spriteSheetLoader.test.ts
  frontend/lib/single-cat/spriteSheetLoader.js
Due: tsc

fix: warn on missing pose offsets
  frontend/lib/single-cat/__tests__/spriteSheetLoader.test.ts
  frontend/lib/single-cat/spriteSheetLoader.js
Due: tsc

fix: stabilize sprite gallery fallbacks
  frontend/lib/adoption/adoptionGenerator.js
  frontend/lib/single-cat/__tests__/spriteSheetLoader.test.ts
  frontend/lib/single-cat/spriteSheetLoader.js
Due: tsc

feat: add new sprite include setting
  frontend/components/cat-builder/types.ts
  frontend/components/cat-settings/CatSettingsClient.tsx
  frontend/components/cat-settings/ExampleCatGrid.tsx
  frontend/components/cat-settings/GuidedSettingsWizard.tsx
  frontend/components/cat-settings/WizardExampleCats.tsx
  frontend/components/cat-settings/wizard-steps/AfterlifeStep.tsx
  frontend/components/cat-settings/wizard-steps/SummaryStep.tsx
  frontend/components/cat-settings/wizard-steps/TortieStep.tsx
  frontend/components/single-cat/SingleCatPlusClient.tsx
  frontend/components/stream-control/OBSLobby.tsx
  frontend/components/stream-control/OBSSpinClient.tsx
  frontend/components/stream-control/StreamControlClient.tsx
  frontend/lib/cat-v3/__tests__/poseOptions.test.ts
  frontend/lib/cat-v3/__tests__/random-cat-server.test.ts
  frontend/lib/cat-v3/__tests__/randomAccessories.test.ts
  frontend/lib/cat-v3/poseOptions.ts
  frontend/lib/cat-v3/random-cat-server.ts
  frontend/lib/cat-v3/randomAccessories.ts
  frontend/lib/cat-v3/randomGenerator.ts
  frontend/lib/cat-v3/types.ts
  frontend/lib/portable-settings/__tests__/encoding.test.ts
  frontend/lib/portable-settings/codecs/payload.ts
  frontend/lib/portable-settings/helpers.ts
  frontend/lib/portable-settings/registry.ts
  frontend/lib/portable-settings/types.ts
  frontend/lib/single-cat/spriteMapper.js
  frontend/utils/singleCatVariants.ts
Due: tsc

fix: address code review findings
  frontend/components/single-cat/SingleCatPlusClient.tsx
  frontend/components/stream-control/OBSSpinClient.tsx
  frontend/lib/cat-v3/__tests__/poseOptions.test.ts
  frontend/lib/cat-v3/__tests__/random-cat-server.test.ts
  frontend/lib/cat-v3/poseOptions.ts
  frontend/lib/cat-v3/random-cat-server.ts
  frontend/lib/cat-v3/randomGenerator.ts
  frontend/lib/cat-v3/types.ts
  frontend/lib/single-cat/__tests__/spriteSheetLoader.test.ts
  frontend/lib/single-cat/spriteMapper.js
  frontend/lib/single-cat/spriteSheetLoader.js
  frontend/tests/random/generator.spec.ts
Due: tsc

fix: resolve Greptile sprite findings
  frontend/lib/single-cat/__tests__/spriteMapper.test.ts
  frontend/lib/single-cat/__tests__/spriteSheetLoader.test.ts
  frontend/lib/single-cat/spriteSheetLoader.js
Due: tsc

Add Forgejo workflow runner labels
  .forgejo/workflows/build-images.yml
Due: none

Disable GitHub GHCR publishing workflow
  .github/workflows.disabled/build-images.yml
Due: none

Use Forgejo registry in Forgejo workflow
  .forgejo/workflows/build-images.yml
Due: none

ci: use Infisical secrets for Forgejo builds
  .forgejo/workflows/build-images.yml
Due: none

ci: replace mirrored path filter action
  .forgejo/workflows/build-images.yml
Due: none

ci: disable Convex deploy until Infisical key import
  .forgejo/workflows/build-images.yml
Due: none

Re-enable Convex deploy workflow
  .forgejo/workflows/build-images.yml
Due: none

feat: overhaul evolution generator into staged chamber experience
  frontend/app/evolution-generator/page.tsx
  frontend/app/evolution/[slug]/page.tsx
  frontend/components/evolution/EvolutionBatchClient.tsx
  frontend/components/evolution/EvolutionCeremony.tsx
  frontend/components/evolution/EvolutionGeneratorClient.tsx
  frontend/components/evolution/EvolutionTree.tsx
  frontend/components/evolution/archetypes.ts
  frontend/components/evolution/evolutionDisplay.ts
Due: tsc

feat: warrior-themed ceremony with coat growth and trait replacement
  frontend/components/evolution/EvolutionCeremony.tsx
  frontend/components/evolution/EvolutionGeneratorClient.tsx
  frontend/components/evolution/EvolutionTree.tsx
  frontend/components/evolution/archetypes.ts
  frontend/components/evolution/evolutionDisplay.ts
  frontend/lib/evolution/__tests__/evolutionGenerator.test.ts
  frontend/lib/evolution/evolutionGenerator.ts
  frontend/lib/evolution/evolutionPools.ts
Due: tsc

feat: sprite slot-machine tease and more colour variety
  frontend/components/evolution/EvolutionCeremony.tsx
  frontend/lib/evolution/__tests__/evolutionGenerator.test.ts
  frontend/lib/evolution/evolutionGenerator.ts
Due: tsc

feat: white-out silhouette transition for a punchier reveal
  frontend/components/evolution/EvolutionCeremony.tsx
Due: tsc

feat: ceremony pacing, play-mode toggle, and bigger square stage
  frontend/components/evolution/EvolutionCeremony.tsx
Due: tsc

feat: result-shaped teaser variants and configurable spin time
  frontend/components/evolution/EvolutionCeremony.tsx
  frontend/components/evolution/EvolutionGeneratorClient.tsx
  frontend/lib/evolution/__tests__/evolutionGenerator.test.ts
  frontend/lib/evolution/evolutionGenerator.ts
Due: tsc

feat: clan palette assignment and clan picker
  frontend/components/evolution/EvolutionGeneratorClient.tsx
  frontend/lib/evolution/__tests__/clanPalettes.test.ts
  frontend/lib/evolution/__tests__/evolutionGenerator.test.ts
  frontend/lib/evolution/clanPalettes.ts
  frontend/lib/evolution/evolutionGenerator.ts
  frontend/lib/evolution/evolutionPools.ts
Due: tsc

fix: teaser spin respects the clan's palette assignment
  frontend/components/evolution/EvolutionGeneratorClient.tsx
  frontend/lib/evolution/__tests__/evolutionGenerator.test.ts
  frontend/lib/evolution/evolutionGenerator.ts
Due: tsc

feat: add ten clan signature palettes with patterns
  backend/renderer_service/renderer_service/data/palettes/aquaclan.json
  backend/renderer_service/renderer_service/data/palettes/crystalclan.json
  backend/renderer_service/renderer_service/data/palettes/flareclan.json
  backend/renderer_service/renderer_service/data/palettes/leafclan.json
  backend/renderer_service/renderer_service/data/palettes/moonclan.json
  backend/renderer_service/renderer_service/data/palettes/roseclan.json
  backend/renderer_service/renderer_service/data/palettes/steelclan.json
  backend/renderer_service/renderer_service/data/palettes/sunclan.json
  backend/renderer_service/renderer_service/data/palettes/voidclan.json
  backend/renderer_service/renderer_service/data/palettes/voltclan.json
  frontend/app/cat-color-palettes/page.tsx
  frontend/components/cat-settings/PaletteGroupPicker.tsx
  frontend/lib/evolution/clanPalettes.ts
  frontend/lib/palettes/clans/aquaclan.ts
  frontend/lib/palettes/clans/crystalclan.ts
  frontend/lib/palettes/clans/flareclan.ts
  frontend/lib/palettes/clans/index.ts
  frontend/lib/palettes/clans/leafclan.ts
  frontend/lib/palettes/clans/moonclan.ts
  frontend/lib/palettes/clans/roseclan.ts
  frontend/lib/palettes/clans/steelclan.ts
  frontend/lib/palettes/clans/sunclan.ts
  frontend/lib/palettes/clans/voidclan.ts
  frontend/lib/palettes/clans/voltclan.ts
  frontend/lib/palettes/index.ts
  frontend/lib/palettes/types.ts
Due: tsc

feat: redesign clan signature palettes with distinct identities
  backend/renderer_service/renderer_service/data/palettes/aquaclan.json
  backend/renderer_service/renderer_service/data/palettes/crystalclan.json
  backend/renderer_service/renderer_service/data/palettes/flareclan.json
  backend/renderer_service/renderer_service/data/palettes/leafclan.json
  backend/renderer_service/renderer_service/data/palettes/moonclan.json
  backend/renderer_service/renderer_service/data/palettes/roseclan.json
  backend/renderer_service/renderer_service/data/palettes/steelclan.json
  backend/renderer_service/renderer_service/data/palettes/sunclan.json
  backend/renderer_service/renderer_service/data/palettes/voidclan.json
  backend/renderer_service/renderer_service/data/palettes/voltclan.json
  frontend/lib/palettes/clans/aquaclan.ts
  frontend/lib/palettes/clans/crystalclan.ts
  frontend/lib/palettes/clans/flareclan.ts
  frontend/lib/palettes/clans/leafclan.ts
  frontend/lib/palettes/clans/moonclan.ts
  frontend/lib/palettes/clans/roseclan.ts
  frontend/lib/palettes/clans/steelclan.ts
  frontend/lib/palettes/clans/sunclan.ts
  frontend/lib/palettes/clans/voidclan.ts
  frontend/lib/palettes/clans/voltclan.ts
Due: tsc

feat: warrior-style autoname for evolution lineages
  frontend/components/evolution/EvolutionBatchClient.tsx
  frontend/components/evolution/EvolutionGeneratorClient.tsx
  frontend/lib/evolution/__tests__/clanNames.test.ts
  frontend/lib/evolution/clanNames.ts
Due: tsc

feat: lineage naming rows with rank inputs, sprite hover, and save all
  frontend/components/evolution/EvolutionBatchClient.tsx
  frontend/components/evolution/EvolutionGeneratorClient.tsx
  frontend/components/evolution/NameField.tsx
  frontend/lib/evolution/evolutionGenerator.ts
Due: tsc
