Repository beastyrabbit/beastypage: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-lint, ruff-format, tsc, tsc-discord-bot

lefthook.yml:

pre-commit:
  commands:
    gitleaks:
      run: gitleaks git --staged --no-banner
      fail_text: "Secrets detected! Remove before committing."
    ruff-lint:
      glob: "backend/**/*.py"
      run: ruff check --fix {staged_files}
    ruff-format:
      glob: "backend/**/*.py"
      run: ruff format {staged_files}
    tsc:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && bunx tsc --noEmit
    tsc-discord-bot:
      glob: "backend/discord-bot/**/*.ts"
      run: cd backend/discord-bot && npx tsc --noEmit

chore(deps): update dependency concurrently to v10
  frontend/package.json
  frontend/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: none

fix(quick-share): replace polling with event dispatch
  README.md
  backend/media_service/src/app.ts
  backend/media_service/src/index.ts
  backend/media_service/src/processor.ts
  backend/media_service/test/app.test.ts
  frontend/convex/quickShare.test.ts
  frontend/convex/quickShare.ts
  frontend/convex/quickShareHttp.ts
Due: tsc

docs: record quick share Convex incident
  AGENTS.md
  README.md
  docs/quick-share-convex-cost-incident.md
Due: none

chore(deps): update dependency hono to v4.12.34 [security]
  backend/image_processing_service/pnpm-lock.yaml
  backend/media_service/pnpm-lock.yaml
Due: none

chore(deps): update dependency postcss to v8.5.23 [security]
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

chore(deps): update dependency undici to v8.9.0 [security]
  backend/media_service/pnpm-lock.yaml
Due: none

chore(deps): update non-major dependencies
  backend/discord-bot/package-lock.json
  backend/image_processing_service/pnpm-lock.yaml
  backend/media_service/pnpm-lock.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: add T3 Code project configuration
  t3.json
Due: none

feat(quick-share): support media collections
  backend/media_service/src/app.ts
  frontend/components/quick-share/QuickShareClient.tsx
  frontend/convex/quickShare.ts
  frontend/convex/quickShareHttp.ts
Due: tsc

fix(quick-share): narrow collection receipt type
  frontend/convex/quickShareHttp.ts
Due: tsc

chore: remove portless development tooling
  AGENTS.md
  CLAUDE.md
  backend/media_service/src/config.ts
  frontend/CLAUDE.md
  frontend/app/api/preview/[id]/route.ts
  frontend/app/api/renderer/_lib/proxy.ts
  frontend/package.json
  package.json
  t3.json
Due: tsc

chore(deps): update dependency undici to v8.9.0 [security] (#44)
  backend/media_service/pnpm-lock.yaml
Due: none

chore(deps): update dependency hono to v4.12.34 [security] (#43)
  backend/image_processing_service/pnpm-lock.yaml
  backend/media_service/pnpm-lock.yaml
Due: none

chore(deps): update dependency postcss to v8.5.23 [security] (#38)
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

chore(deps): update dependency @types/node to v24 (#40)
  backend/discord-bot/package-lock.json
  backend/discord-bot/package.json
Due: none

chore(deps): update dependency binpackingjs to v4 (#41)
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

chore(deps): update dependency concurrently to v10 (#42)
  frontend/package.json
  frontend/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update non-major dependencies (#39)
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

chore: archive custom computer accessory prototype
  backend/renderer_service/renderer_service/data/peltInfo.json
  backend/renderer_service/renderer_service/data/spritesIndex.json
  backend/renderer_service/sprites/acc_beastypage_custom.png
  backend/renderer_service/tests/test_accessory_mapping.py
  frontend/app/tests/custom-accessories/CustomAccessoryLab.tsx
  frontend/app/tests/custom-accessories/custom-accessories.module.css
  frontend/app/tests/custom-accessories/custom-accessory-test-data.test.ts
  frontend/app/tests/custom-accessories/custom-accessory-test-data.ts
  frontend/app/tests/custom-accessories/page.tsx
  frontend/app/tests/page.tsx
  frontend/public/sprite-data/peltInfo.json
  frontend/public/sprite-data/spritesIndex.json
  frontend/public/sprites/acc_beastypage_custom.png
  output/imagegen/adult-long1-mouse-pixel-trial-50.png
  output/imagegen/adult-long1-mouse-pixel-trial-upscaled.png
  output/imagegen/adult-long1-mouse-reference-vs-pixel.png
  output/imagegen/adult-long1-wired-mouse-reference-inference.jpg
  output/imagegen/controller-inference-reference-contact-sheet.jpg
  output/imagegen/custom-accessories-final-native.png
  output/imagegen/custom-accessories-final-review.png
  output/imagegen/mouse-inference-reference-contact-sheet.jpg
  output/imagegen/screwdriver-inference-reference-contact-sheet.jpg
  scripts/beastypage_accessory_pixel_designs.py
  scripts/generate_beastypage_accessories.py
  scripts/import_lifegen_accessories.py
Due: ruff-lint, ruff-format, tsc

fix(renderer): make contract fixture portable
  backend/renderer_service/tests/test_render_contract.py
Due: ruff-lint, ruff-format

fix(renderer): make contract fixture portable (#47)
  backend/renderer_service/tests/test_render_contract.py
Due: ruff-lint, ruff-format

feat(quick-share): show live upload progress
  frontend/components/quick-share/QuickShareClient.tsx
  frontend/lib/quick-share-upload.test.ts
  frontend/lib/quick-share-upload.ts
Due: tsc

ci: move container builds to GitHub ARC
  .github/workflows/build-images.yml
Due: none

fix(ci): install pnpm without native runner dependency
  .github/workflows/build-images.yml
Due: none

chore: remove obsolete Orca workspace config
  orca.yaml
Due: none

fix(stream): preserve deciding votes and active session lookup
  frontend/components/streamer/HostClient.tsx
  frontend/convex/review-boundaries.test.ts
  frontend/convex/schema.ts
  frontend/convex/streamSessions.ts
Due: tsc

fix(stream): initialize valid host choices with each step
  frontend/components/streamer/HostClient.tsx
  frontend/convex/review-boundaries.test.ts
  frontend/convex/streamSessions.ts
Due: tsc

fix: address PR feedback on previews, voting, and runtime setup
  .forgejo/workflows/build-images.yml
  .github/workflows/build-images.yml
  backend/discord-bot/Dockerfile
  backend/image_processing_service/Dockerfile
  backend/image_processing_service/src/pipeline/review.test.ts
  backend/image_processing_service/src/worker.ts
  backend/renderer_service/pyproject.toml
  backend/renderer_service/uv.lock
  docs/review-remediation.md
  frontend/CLAUDE.md
  frontend/Dockerfile
  frontend/app/api/discord/random-cat/route.ts
  frontend/app/catdex/CatdexPageClient.tsx
  frontend/app/collection/CollectionPageClient.tsx
  frontend/components/pixelator/PixelatorClient.tsx
  frontend/components/pixelator/PreviewCanvas.tsx
  frontend/components/streamer/HostClient.tsx
  frontend/convex/_generated/api.d.ts
  frontend/convex/_generated/api.js
  frontend/convex/_generated/server.d.ts
  frontend/convex/_generated/server.js
  frontend/convex/catdex.ts
  frontend/convex/review-boundaries.test.ts
  frontend/convex/streamVotes.ts
  frontend/lib/color-extraction/image-processing.ts
  frontend/lib/public-image-download.ts
  frontend/tests/api/public-image-download.spec.ts
  frontend/tests/browser/main.tsx
  frontend/tests/browser/review.spec.ts
  frontend/tests/browser/services.ts
  frontend/tests/browser/vite.config.mts
  frontend/tests/pixelator-review.spec.ts
  package.json
Due: tsc

fix: bridge secured APIs before rolling production clients
  .forgejo/workflows/build-images.yml
  .github/workflows/build-images.yml
  README.md
  backend/renderer_service/tests/test_workflow_gates.py
  docs/review-remediation.md
  frontend/components/adoption/AdoptionBatchClient.tsx
  frontend/components/adoption/AdoptionGeneratorClient.tsx
  frontend/components/evolution/EvolutionBatchClient.tsx
  frontend/components/evolution/EvolutionGeneratorClient.tsx
  frontend/components/quick-share/QuickShareClient.tsx
  frontend/components/single-cat/HistoryClient.tsx
  frontend/components/stream-control/control/BatchPanel.tsx
  frontend/components/stream-control/control/EvolutionPanel.tsx
  frontend/components/streamer/HostClient.tsx
  frontend/components/streamer/ViewerClient.tsx
  frontend/convex/_generated/api.d.ts
  frontend/convex/adoption.ts
  frontend/convex/adoptionV2.ts
  frontend/convex/discordHttp.ts
  frontend/convex/discordUserConfigInternal.ts
  frontend/convex/review-boundaries.test.ts
  frontend/convex/rollout-bridge.test.ts
  frontend/convex/rolloutLegacy.ts
  frontend/convex/streamParticipantsV2.ts
  frontend/convex/streamSessionsV2.ts
  frontend/convex/streamVotes.ts
  frontend/convex/streamVotesV2.ts
  frontend/convex/users.ts
  frontend/lib/discord-service.ts
  frontend/tests/browser/main.tsx
  frontend/tests/browser/review.spec.ts
  frontend/tests/browser/services.ts
Due: ruff-lint, ruff-format, tsc

fix(stream): recover unavailable host session links safely
  frontend/components/streamer/HostClient.tsx
  frontend/convex/review-boundaries.test.ts
  frontend/convex/streamSessionsV2.ts
  frontend/tests/browser/review.spec.ts
  frontend/tests/browser/services.ts
Due: tsc

fix(security): remove temporary legacy rollout APIs
  docs/review-remediation.md
  frontend/convex/_generated/api.d.ts
  frontend/convex/adoption.ts
  frontend/convex/discordUserConfig.ts
  frontend/convex/rollout-bridge.test.ts
  frontend/convex/rolloutLegacy.ts
  frontend/convex/streamParticipants.ts
  frontend/convex/streamSessions.ts
  frontend/convex/streamVotes.ts
  frontend/convex/users.ts
Due: tsc

ci: enable shared broad OpenGrep analysis
  .github/workflows/opengrep.yml
Due: none

ci: use grouped OpenGrep summary without inline comments
  .github/workflows/opengrep.yml
Due: none

docs: improve README
  README.md
Due: none
