Repository beastyrabbit/beastypage: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-lint, ruff-format, tsc, tsc-discord-bot

lefthook.yml:

pre-commit:
  commands:
    gitleaks:
      run: gitleaks git --staged --no-banner
      fail_text: "Secrets detected! Remove before committing."
    ruff-lint:
      glob: "backend/**/*.py"
      run: ruff check --fix {staged_files}
    ruff-format:
      glob: "backend/**/*.py"
      run: ruff format {staged_files}
    tsc:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && bunx tsc --noEmit
    tsc-discord-bot:
      glob: "backend/discord-bot/**/*.ts"
      run: cd backend/discord-bot && npx tsc --noEmit

Restore project skills to repository
  .agents/skills/convex-create-component/SKILL.md
  .agents/skills/convex-create-component/assets/icon.svg
  .agents/skills/convex-create-component/references/advanced-patterns.md
  .agents/skills/convex-create-component/references/hybrid-components.md
  .agents/skills/convex-create-component/references/local-components.md
  .agents/skills/convex-create-component/references/packaged-components.md
  .agents/skills/convex-migration-helper/SKILL.md
  .agents/skills/convex-migration-helper/assets/icon.svg
  .agents/skills/convex-migration-helper/references/migration-patterns.md
  .agents/skills/convex-migration-helper/references/migrations-component.md
  .agents/skills/convex-performance-audit/SKILL.md
  .agents/skills/convex-performance-audit/assets/icon.svg
  .agents/skills/convex-performance-audit/references/function-budget.md
  .agents/skills/convex-performance-audit/references/hot-path-rules.md
  .agents/skills/convex-performance-audit/references/occ-conflicts.md
  .agents/skills/convex-performance-audit/references/subscription-cost.md
  .agents/skills/convex-quickstart/SKILL.md
  .agents/skills/convex-quickstart/assets/icon.svg
  .agents/skills/convex-setup-auth/SKILL.md
  .agents/skills/convex-setup-auth/assets/icon.svg
  .agents/skills/convex-setup-auth/references/auth0.md
  .agents/skills/convex-setup-auth/references/clerk.md
  .agents/skills/convex-setup-auth/references/convex-auth.md
  .agents/skills/convex-setup-auth/references/workos-authkit.md
  .agents/skills/convex/SKILL.md
Due: none

Replace OpenGrep workflow with SonarQube scan
  .github/workflows/opengrep.yml
  .github/workflows/sonarqube.yml
Due: none

sonarqube: force UTF-8 locale for the scanner
  .github/workflows/sonarqube.yml
Due: none

sonarqube: analyse pull requests (Community Branch Plugin)
  .github/workflows/sonarqube.yml
Due: none

WIP: untracked files left on the Mac Studio checkout before removal
  .agents/react-doctor/AGENTS.md
  .agents/react-doctor/SKILL.md
  frontend/.agents/skills/convex-create-component/SKILL.md
  frontend/.agents/skills/convex-create-component/agents/openai.yaml
  frontend/.agents/skills/convex-create-component/assets/icon.svg
  frontend/.agents/skills/convex-create-component/references/advanced-patterns.md
  frontend/.agents/skills/convex-create-component/references/hybrid-components.md
  frontend/.agents/skills/convex-create-component/references/local-components.md
  frontend/.agents/skills/convex-create-component/references/packaged-components.md
  frontend/.agents/skills/convex-migration-helper/SKILL.md
  frontend/.agents/skills/convex-migration-helper/agents/openai.yaml
  frontend/.agents/skills/convex-migration-helper/assets/icon.svg
  frontend/.agents/skills/convex-migration-helper/references/migration-patterns.md
  frontend/.agents/skills/convex-migration-helper/references/migrations-component.md
  frontend/.agents/skills/convex-performance-audit/SKILL.md
  frontend/.agents/skills/convex-performance-audit/agents/openai.yaml
  frontend/.agents/skills/convex-performance-audit/assets/icon.svg
  frontend/.agents/skills/convex-performance-audit/references/function-budget.md
  frontend/.agents/skills/convex-performance-audit/references/hot-path-rules.md
  frontend/.agents/skills/convex-performance-audit/references/occ-conflicts.md
  frontend/.agents/skills/convex-performance-audit/references/subscription-cost.md
  frontend/.agents/skills/convex-quickstart/SKILL.md
  frontend/.agents/skills/convex-quickstart/agents/openai.yaml
  frontend/.agents/skills/convex-quickstart/assets/icon.svg
  frontend/.agents/skills/convex-setup-auth/SKILL.md
  frontend/.agents/skills/convex-setup-auth/agents/openai.yaml
  frontend/.agents/skills/convex-setup-auth/assets/icon.svg
  frontend/.agents/skills/convex-setup-auth/references/auth0.md
  frontend/.agents/skills/convex-setup-auth/references/clerk.md
  frontend/.agents/skills/convex-setup-auth/references/convex-auth.md
  frontend/.agents/skills/convex-setup-auth/references/workos-authkit.md
Due: none

fix: address pull request quality gate findings
  frontend/app/catdex/CatdexPageClient.tsx
  frontend/app/visual-builder/page.tsx
  frontend/components/ancestry-tree/AncestryTreeClient.tsx
  frontend/components/single-cat/SingleCatPlusClient.tsx
  frontend/components/single-cat/ViewerClient.tsx
  frontend/components/stream-control/obs/spinSupport.ts
  frontend/convex/adoptionV2.ts
  frontend/convex/catShares.ts
  frontend/convex/compatibility.test.ts
  frontend/convex/dashSettings.ts
  frontend/convex/importer.ts
  frontend/convex/mapper.ts
  frontend/convex/paletteGeneratorSettings.ts
  frontend/convex/pixelatorSettings.ts
  frontend/convex/quickShare.ts
  frontend/convex/singleCatSettings.ts
  frontend/convex/streamVotesV2.ts
  frontend/convex/users.ts
  frontend/convex/utils.ts
  frontend/tests/browser/review.spec.ts
Due: tsc

refactor: separate ancestry configuration loading states
  frontend/components/ancestry-tree/AncestryTreeClient.tsx
Due: tsc

fix(security): patch Next.js and YAML advisories before release
  docs/review-remediation.md
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

fix(media): strip metadata from public images
  backend/media_service/src/app.ts
  backend/media_service/src/processor.ts
  backend/media_service/test/app.test.ts
  backend/media_service/test/imageSanitization.test.ts
  backend/media_service/test/processor.test.ts
  docs/review-remediation.md
Due: none

fix(media): simplify sanitized image format selection
  backend/media_service/src/processor.ts
Due: none

docs: remove stale deploy, hosting and build guidance
  AGENTS.md
  CLAUDE.md
Due: none

docs: name the baked build values and the runtime Convex URL
  CLAUDE.md
Due: none

fix: sort evolution branches without ES2023 toSorted
  frontend/components/evolution/EvolutionTree.tsx
Due: tsc

fix: resolve SonarQube findings introduced by the cleanup
  frontend/components/color-palette/ColorPaletteContent.tsx
  frontend/components/common/VariantBar.tsx
  frontend/components/dash/AddWidgetModal.tsx
  frontend/components/dash/ReleaseNotesModal.tsx
  frontend/components/guided-builder/GuidedBuilderClient.tsx
  frontend/components/visual-builder/VisualBuilderLoader.tsx
  frontend/lib/adoption/adoptionGenerator.js
Due: tsc

chore(agents): commit project skills and shared Claude settings
  .agents/skills/convex-create-component/SKILL.md
  .agents/skills/convex-create-component/assets/icon.svg
  .agents/skills/convex-create-component/references/advanced-patterns.md
  .agents/skills/convex-create-component/references/hybrid-components.md
  .agents/skills/convex-create-component/references/local-components.md
  .agents/skills/convex-create-component/references/packaged-components.md
  .agents/skills/convex-migration-helper/SKILL.md
  .agents/skills/convex-migration-helper/assets/icon.svg
  .agents/skills/convex-migration-helper/references/migration-patterns.md
  .agents/skills/convex-migration-helper/references/migrations-component.md
  .agents/skills/convex-performance-audit/SKILL.md
  .agents/skills/convex-performance-audit/assets/icon.svg
  .agents/skills/convex-performance-audit/references/function-budget.md
  .agents/skills/convex-performance-audit/references/hot-path-rules.md
  .agents/skills/convex-performance-audit/references/occ-conflicts.md
  .agents/skills/convex-performance-audit/references/subscription-cost.md
  .agents/skills/convex-quickstart/SKILL.md
  .agents/skills/convex-quickstart/assets/icon.svg
  .agents/skills/convex-setup-auth/SKILL.md
  .agents/skills/convex-setup-auth/assets/icon.svg
  .agents/skills/convex-setup-auth/references/auth0.md
  .agents/skills/convex-setup-auth/references/clerk.md
  .agents/skills/convex-setup-auth/references/convex-auth.md
  .agents/skills/convex-setup-auth/references/workos-authkit.md
  .agents/skills/convex/SKILL.md
  .agents/skills/react-doctor/AGENTS.md
  .agents/skills/react-doctor/SKILL.md
  .claude/settings.json
  .gitignore
Due: none

refactor: split complex functions flagged by the SonarQube gate
  frontend/app/visual-builder/page.tsx
  frontend/components/common/DiscordInviteButton.tsx
  frontend/components/dash/MarkdownBody.tsx
  frontend/components/quick-share/QuickShareClient.tsx
  frontend/components/single-cat/SingleCatPlusClient.tsx
  frontend/components/stream-control/obs/ObsOverlayClient.tsx
  frontend/components/streamer/HostClient.tsx
  frontend/lib/ancestry-tree/genetics.ts
  frontend/scripts/generate-cat-system.ts
Due: tsc

refactor: use optional chaining for the Quick Share resume check
  frontend/components/quick-share/QuickShareClient.tsx
Due: tsc

fix: remove adoption quick preview popup when leaving the generator
  frontend/components/adoption/AdoptionGeneratorClient.tsx
  frontend/lib/adoption/__tests__/adoptionGenerator.test.ts
  frontend/lib/adoption/adoptionGenerator.js
Due: tsc

refactor: remove v1 single-cat timing migration
  frontend/components/single-cat/SingleCatPlusClient.tsx
  frontend/scripts/seed-v1-slugs.ts
  frontend/utils/singleCatVariants.ts
  frontend/utils/spinTiming.ts
Due: tsc

fix: remove regex backtracking and scan noise flagged by SonarQube
  frontend/components/dash/MarkdownBody.test.tsx
  frontend/components/dash/MarkdownBody.tsx
  sonar-project.properties
Due: tsc

refactor: simplify cat contracts and rendering pipelines
  backend/image_processing_service/src/detection/grid-detector.test.ts
  backend/image_processing_service/src/detection/grid-detector.ts
  backend/image_processing_service/src/pipeline/executor.test.ts
  backend/image_processing_service/src/pipeline/executor.ts
  backend/media_service/src/importer.ts
  backend/media_service/test/importer.test.ts
  backend/renderer_service/renderer_service/renderer/document_schema.py
  backend/renderer_service/renderer_service/renderer/executor.py
  backend/renderer_service/renderer_service/renderer/integrity.py
  backend/renderer_service/renderer_service/renderer/legacy_adapter.py
  backend/renderer_service/renderer_service/renderer/pipeline.py
  backend/renderer_service/renderer_service/renderer/sprite_mapper.py
  backend/renderer_service/renderer_service/renderer/strategies.py
  backend/renderer_service/tests/test_sonar_complexity_regressions.py
  frontend/lib/cat-system/__tests__/cat-system.test.ts
  frontend/lib/cat-system/__tests__/document.test.ts
  frontend/lib/cat-system/definition.ts
  frontend/lib/cat-system/document.ts
Due: ruff-lint, ruff-format, tsc

test: isolate schema validation exception assertion
  backend/renderer_service/tests/test_sonar_complexity_regressions.py
Due: ruff-lint, ruff-format

ci: cancel workflow runs superseded by a newer PR push
  .github/workflows/validate.yml
Due: none

ci: cancel workflow runs superseded by a newer PR push (#121)
  .github/workflows/validate.yml
Due: none

fix: preload cat spins and restore StarClan sparkles
  backend/renderer_service/renderer_service/renderer/v3_renderer.py
  backend/renderer_service/tests/test_render_smoke.py
  frontend/components/single-cat/SingleCatPlusClient.tsx
  frontend/components/stream-control/obs/ObsOverlayClient.tsx
  frontend/components/stream-control/obs/spinSupport.ts
  frontend/components/stream-control/obs/useObsSession.ts
  frontend/lib/single-cat/spin/__tests__/descriptors.test.ts
  frontend/lib/single-cat/spin/__tests__/frameLoader.test.ts
  frontend/lib/single-cat/spin/__tests__/spinPlan.test.ts
  frontend/lib/single-cat/spin/countReveal.ts
  frontend/lib/single-cat/spin/descriptors.ts
  frontend/lib/single-cat/spin/frameLoader.ts
  frontend/lib/single-cat/spin/spinPlan.ts
  frontend/lib/single-cat/spin/types.ts
  frontend/utils/singleCatVariants.ts
  frontend/utils/spinTiming.ts
Due: ruff-lint, ruff-format, tsc

fix: cancel stale overlay spin preparation and cover real counts in the reveal
  frontend/components/stream-control/obs/ObsOverlayClient.tsx
  frontend/lib/single-cat/spin/__tests__/countReveal.test.ts
  frontend/lib/single-cat/spin/countReveal.ts
Due: tsc

fix: check overlay spin cancellation before re-preparing
  frontend/components/stream-control/obs/ObsOverlayClient.tsx
Due: tsc

feat: add Chrome extension to personal links
  frontend/components/common/SocialLinks.tsx
Due: tsc

refactor: split spin phases to clear SonarQube complexity findings
  frontend/components/single-cat/SingleCatPlusClient.tsx
  frontend/components/stream-control/obs/ObsOverlayClient.tsx
  frontend/lib/single-cat/spin/frameLoader.ts
  frontend/lib/single-cat/spin/spinPlan.ts
Due: tsc

fix: queue overlay count reveal frames before the spin preload
  frontend/components/stream-control/obs/ObsOverlayClient.tsx
Due: tsc

fix(stream): keep the wheel reveal going across a theme switch and honour reduced motion
  frontend/components/stream-control/OBSClassicWheel.tsx
  frontend/components/stream-control/obs/themes/sceneShared.tsx
  frontend/components/stream-control/obs/themes/scenes/MixtapeSpinScene.tsx
  frontend/components/stream-control/obs/themes/scenes/SamplerSpinScene.tsx
  frontend/components/stream-control/obs/themes/scenes/TransitSpinScene.tsx
Due: tsc
