Repository beastyrabbit/beastypage: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-lint, ruff-format, tsc, tsc-discord-bot

lefthook.yml:

pre-commit:
  commands:
    gitleaks:
      run: gitleaks git --staged --no-banner
      fail_text: "Secrets detected! Remove before committing."
    ruff-lint:
      glob: "backend/**/*.py"
      run: ruff check --fix {staged_files}
    ruff-format:
      glob: "backend/**/*.py"
      run: ruff format {staged_files}
    tsc:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && bunx tsc --noEmit
    tsc-discord-bot:
      glob: "backend/discord-bot/**/*.ts"
      run: cd backend/discord-bot && npx tsc --noEmit

chore: bump convex to 1.39 and refresh ai-files docs
  AGENTS.md
  CLAUDE.md
  frontend/convex/_generated/api.d.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: tsc

chore: include convex ai guidance
  .gitignore
  convex/_generated/ai/ai-files.state.json
  convex/_generated/ai/guidelines.md
  frontend/AGENTS.md
  frontend/convex/_generated/ai/ai-files.state.json
  frontend/convex/_generated/ai/guidelines.md
  frontend/lib/evolution/evolutionGenerator.ts
Due: tsc

fix: address code review findings
  backend/renderer_service/tests/test_render_smoke.py
  frontend/app/api/preview/[id]/route.ts
  frontend/app/api/renderer/_lib/proxy.test.ts
  frontend/app/api/renderer/_lib/proxy.ts
  frontend/components/evolution/EvolutionBatchClient.tsx
  frontend/components/evolution/EvolutionCeremony.tsx
  frontend/components/evolution/EvolutionGeneratorClient.tsx
  frontend/components/evolution/EvolutionTree.tsx
  frontend/components/evolution/NameField.tsx
  frontend/components/single-cat/HistoryClient.tsx
  frontend/convex/mapper.ts
  frontend/convex/previews.ts
  frontend/convex/schema.ts
  frontend/lib/evolution/__tests__/clanPalettes.test.ts
  frontend/lib/evolution/__tests__/evolutionGenerator.test.ts
  frontend/lib/evolution/__tests__/evolutionPools.test.ts
  frontend/lib/evolution/evolutionGenerator.ts
  frontend/lib/evolution/evolutionPools.ts
  frontend/lib/single-cat/catGeneratorV2.js
Due: ruff-lint, ruff-format, tsc

fix: preserve evolution batch edit tokens
  frontend/components/evolution/EvolutionBatchClient.tsx
  frontend/components/evolution/EvolutionGeneratorClient.tsx
  frontend/convex/adoption.ts
  frontend/convex/schema.ts
Due: tsc

fix: enlarge evolution sprites and constrain starter hair
  frontend/components/evolution/EvolutionCeremony.tsx
  frontend/components/evolution/EvolutionGeneratorClient.tsx
  frontend/lib/evolution/__tests__/evolutionGenerator.test.ts
  frontend/lib/evolution/evolutionGenerator.ts
Due: tsc

fix: make evolution history read-only
  frontend/app/evolution/[slug]/page.tsx
  frontend/components/evolution/EvolutionBatchClient.tsx
Due: tsc

chore: housekeeping sweep — remove stale build artifacts and dead files (#8)
  .github/workflows.disabled/build-images.yml
  .gitignore
  frontend/components/single-cat/SPINNER_TODO.md
  frontend/convex/catdex.d.ts
  frontend/convex/catdex.d.ts.map
  frontend/convex/collection.d.ts
  frontend/convex/collection.d.ts.map
  frontend/convex/mapper.d.ts
  frontend/convex/mapper.d.ts.map
  frontend/convex/rarities.d.ts
  frontend/convex/rarities.d.ts.map
  frontend/convex/schema.d.ts
  frontend/convex/schema.d.ts.map
  frontend/convex/seasons.d.ts
  frontend/convex/seasons.d.ts.map
  frontend/convex/streamParticipants.d.ts
  frontend/convex/streamParticipants.d.ts.map
  frontend/convex/streamSessions.d.ts
  frontend/convex/streamSessions.d.ts.map
  frontend/convex/streamVotes.d.ts
  frontend/convex/streamVotes.d.ts.map
  frontend/convex/utils.d.ts
  frontend/convex/utils.d.ts.map
Due: tsc

chore: configure renovate (#1)
  renovate.json
Due: none

fix: treat opaqueredirect and status-0 responses as renderer redirects (#9)
  frontend/app/api/renderer/_lib/proxy.ts
Due: tsc

refactor: consolidate gacha hub into /projects/gacha (#10)
  frontend/CLAUDE.md
  frontend/app/gatcha/page.tsx
  frontend/app/globals.css
  frontend/app/projects/artist/page.tsx
  frontend/app/projects/gacha/page.tsx
  frontend/app/projects/games/page.tsx
  frontend/app/projects/page.tsx
  frontend/app/projects/tools/page.tsx
  frontend/app/projects/warrior-cats/page.tsx
  frontend/app/tests/collection-focus/layout.tsx
  frontend/app/tests/collection-focus/page.tsx
  frontend/app/tests/page.tsx
  frontend/components/common/ToolCardGrid.tsx
  frontend/components/single-cat/ViewerClient.tsx
  frontend/next.config.mjs
  frontend/package.json
  package.json
Due: tsc

chore(deps): update docker base images (#21)
  backend/renderer_service/Dockerfile
  frontend/Dockerfile
Due: none

chore(deps): update ci actions (major) (#23)
  .forgejo/workflows/build-images.yml
Due: none

chore(deps): update dependency @napi-rs/canvas to v1 (#25)
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

chore(deps): update dependency @hono/node-server to v2 [security] (#26)
  backend/image_processing_service/package.json
  backend/image_processing_service/pnpm-lock.yaml
Due: none

chore(deps): update dependency pillow to v12.3.0 [security] (#31)
  backend/renderer_service/uv.lock
Due: none

chore(deps): update dependency hono to v4.12.27 [security] (#27)
  backend/image_processing_service/pnpm-lock.yaml
Due: none

chore(deps): update dependency @clerk/nextjs to v7.2.1 [security] (#29)
  frontend/pnpm-lock.yaml
Due: none

chore(deps): update dependency postcss to v8.5.10 [security] (#28)
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

chore(deps): update dependency next to v16.2.6 [security] (#30)
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

chore(deps): update dependency pytest to v9 [security] (#34)
  backend/renderer_service/uv.lock
Due: none

chore(deps): update dependency vitest to v4.1.0 [security] (#32)
  frontend/pnpm-lock.yaml
Due: none

chore(deps): update sharp to v0.35.3 [security] (#35)
  backend/image_processing_service/package.json
  backend/image_processing_service/pnpm-lock.yaml
  backend/image_processing_service/src/pipeline/executor.ts
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update non-major dependencies (#22)
  backend/discord-bot/package-lock.json
  backend/image_processing_service/package.json
  backend/image_processing_service/pnpm-lock.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: none

fix(dev): inject Infisical in every service
  .infisical.json
  orca.yaml
  package.json
  scripts/check-required-env.mjs
Due: none

fix: rebuild native modules in Orca setup
  orca.yaml
Due: none

feat(quick-share): add clipboard image input
  frontend/components/quick-share/QuickShareClient.tsx
  frontend/lib/quick-share-clipboard.test.ts
  frontend/lib/quick-share-clipboard.ts
Due: tsc

docs(agents): require explicit deployment approval
  AGENTS.md
Due: none

fix(quick-share): handle iOS image paste
  frontend/components/quick-share/QuickShareClient.tsx
  frontend/lib/quick-share-clipboard.test.ts
  frontend/lib/quick-share-clipboard.ts
Due: tsc

fix(quick-share): recover pasted image URLs
  frontend/components/quick-share/QuickShareClient.tsx
  frontend/lib/quick-share-clipboard.test.ts
  frontend/lib/quick-share-clipboard.ts
Due: tsc

fix(renderer): keep Python build and runtime aligned
  backend/renderer_service/Dockerfile
Due: none

chore(deps): update postcss to v8.5.12 [security] (#37)
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

chore(deps): update dependency @types/node to v24
  backend/discord-bot/package-lock.json
  backend/discord-bot/package.json
Due: none

chore(deps): update dependency binpackingjs to v4
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none
