Repository beastyrabbit/beastypage: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-lint, ruff-format, tsc

ruff-lint:
  run: ruff check --fix {staged_files}

ruff-format:
  run: ruff format {staged_files}

tsc:
  run: cd frontend && bunx tsc --noEmit

fix: address Greptile review comments
  frontend/app/api/palette-generator-settings/route.ts
  frontend/app/globals.css
  frontend/components/palette/PaletteGeneratorClient.tsx
Due: tsc

feat: replace palette spinner with palette generator (#33)
  CLAUDE.md
  frontend/app/api/palette-generator-settings/route.ts
  frontend/app/gatcha/page.tsx
  frontend/app/globals.css
  frontend/app/palette-generator/page.tsx
  frontend/app/palette-spinner/page.tsx
  frontend/app/projects/artist/page.tsx
  frontend/bun.lock
  frontend/components/common/VariantBar.tsx
  frontend/components/palette/CollectionActionBar.tsx
  frontend/components/palette/GeneratorControls.tsx
  frontend/components/palette/PaletteCard.tsx
  frontend/components/palette/PaletteExportMenu.tsx
  frontend/components/palette/PaletteGeneratorClient.tsx
  frontend/components/palette/PaletteSpinnerClient.tsx
  frontend/convex/_generated/api.d.ts
  frontend/convex/paletteGeneratorSettings.ts
  frontend/convex/schema.ts
  frontend/lib/analytics.ts
  frontend/lib/palette-generator/api.ts
  frontend/lib/palette-generator/export-utils.ts
  frontend/lib/palette-generator/format-color.ts
  frontend/lib/palette-generator/types.ts
  frontend/package.json
  frontend/utils/paletteGeneratorVariants.ts
Due: tsc

fix: handle pipeline step reordering in drag-and-drop
  frontend/components/pixelator/PixelatorClient.tsx
Due: tsc

fix: switch image processing service from Bun to Node runtime
  backend/image_processing_service/Dockerfile
  backend/image_processing_service/bun.lock
  backend/image_processing_service/package.json
  backend/image_processing_service/src/index.ts
  backend/image_processing_service/src/routes/index.ts
Due: none

fix: accept toolbox drops anywhere in pipeline area
  frontend/components/pixelator/PixelatorClient.tsx
Due: tsc

fix: rewrite grid detector, fix sharp resize, add auto-process toggle
  backend/image_processing_service/src/algorithms/block-average.ts
  backend/image_processing_service/src/algorithms/nearest-neighbor.ts
  backend/image_processing_service/src/detection/grid-detector.test.ts
  backend/image_processing_service/src/detection/grid-detector.ts
  frontend/components/pixelator/PixelatorClient.tsx
  frontend/components/pixelator/PreviewCanvas.tsx
  frontend/lib/color-extraction/wikimedia-random.ts
Due: tsc

fix: address code review findings
  CLAUDE.md
  backend/image_processing_service/src/detection/grid-detector.ts
  frontend/components/pixelator/PixelArtDetector.tsx
  frontend/components/pixelator/PixelatorClient.tsx
  frontend/components/pixelator/PreviewCanvas.tsx
  frontend/lib/color-extraction/wikimedia-random.ts
Due: tsc

fix: address Greptile review findings
  backend/image_processing_service/src/algorithms/dither-bayer.ts
  backend/image_processing_service/src/algorithms/edge-detect.ts
  frontend/components/pixelator/PipelineStepCard.tsx
Due: tsc

fix: address code review audit findings
  backend/image_processing_service/Dockerfile
  backend/image_processing_service/src/algorithms/block-average.ts
  backend/image_processing_service/src/algorithms/nearest-neighbor.ts
  backend/image_processing_service/src/pipeline/executor.ts
  backend/image_processing_service/src/utils/image.ts
  frontend/app/api/pixelator/detect-grid/route.ts
  frontend/app/api/pixelator/route.ts
  frontend/components/pixelator/PipelineStepCard.tsx
  frontend/components/pixelator/PixelatorClient.tsx
  frontend/lib/color-extraction/wikimedia-random.ts
Due: tsc

chore: add worktrees.json for wt setup
  worktrees.json
Due: none

feat: add OpenAPI specs and unified Scalar API docs page
  backend/image_processing_service/src/models.ts
  backend/image_processing_service/src/openapi.ts
  backend/image_processing_service/src/routes/index.ts
  backend/renderer_service/renderer_service/app/__init__.py
  frontend/app/api/pixelator/openapi.json/route.ts
  frontend/app/api/renderer/openapi.json/route.ts
  frontend/app/dev/api-docs/route.ts
  frontend/bun.lock
  frontend/package.json
Due: ruff-lint, ruff-format, tsc

fix: address code review audit findings
  backend/image_processing_service/src/openapi.ts
  backend/image_processing_service/src/routes/index.ts
  backend/renderer_service/renderer_service/app/__init__.py
  frontend/app/api/_lib/openapi-proxy.ts
  frontend/app/api/pixelator/openapi.json/route.ts
  frontend/app/api/renderer/openapi.json/route.ts
Due: ruff-lint, ruff-format, tsc

feat: OpenAPI specs + unified Scalar API docs page (#37)
  backend/image_processing_service/src/models.ts
  backend/image_processing_service/src/openapi.ts
  backend/image_processing_service/src/routes/index.ts
  backend/renderer_service/renderer_service/app/__init__.py
  frontend/app/api/_lib/openapi-proxy.ts
  frontend/app/api/pixelator/openapi.json/route.ts
  frontend/app/api/renderer/openapi.json/route.ts
  frontend/app/dev/api-docs/route.ts
  frontend/bun.lock
  frontend/package.json
Due: ruff-lint, ruff-format, tsc

docs: add Playwright screenshot path convention to CLAUDE.md
  CLAUDE.md
Due: none

feat: add Report Issue link to site footer
  frontend/components/site-footer.tsx
Due: tsc

fix: add rel noopener noreferrer to footer external links
  frontend/components/site-footer.tsx
Due: tsc

feat: add dash foundation — types, registry, variants
  frontend/app/adoption-generator/widget.ts
  frontend/app/cat-color-palettes/widget.ts
  frontend/app/catdex/widget.ts
  frontend/app/coinflip/widget.ts
  frontend/app/color-palette-creator/widget.ts
  frontend/app/guided-builder/widget.ts
  frontend/app/history/widget.ts
  frontend/app/palette-generator/widget.ts
  frontend/app/perfect-cat-finder/widget.ts
  frontend/app/pixelator/widget.ts
  frontend/app/single-cat-plus/widget.ts
  frontend/app/streamer-voting/widget.ts
  frontend/app/visual-builder/widget.ts
  frontend/app/wheel/widget.ts
  frontend/lib/dash/registry.generated.ts
  frontend/lib/dash/types.ts
  frontend/lib/dash/version.ts
  frontend/package.json
  frontend/scripts/generate-registry.ts
  frontend/scripts/write-version.sh
  frontend/utils/dashVariants.ts
Due: tsc

feat: add dash navigation and route
  frontend/app/dash/page.tsx
  frontend/app/globals.css
  frontend/components/dash/DashClient.tsx
  frontend/components/site-nav-config.ts
Due: tsc

feat: add dash convex backend and API route
  frontend/app/api/dash-settings/route.ts
  frontend/convex/dashSettings.ts
  frontend/convex/schema.ts
Due: tsc

feat: add release notes API and client helper
  frontend/app/api/releases/route.ts
  frontend/lib/dash/releases.ts
Due: tsc

feature/issuecreate (#38)
  frontend/components/site-footer.tsx
Due: tsc

feat: add dash components and orchestrator
  frontend/components/dash/AddWidgetModal.tsx
  frontend/components/dash/DashClient.tsx
  frontend/components/dash/DashHero.tsx
  frontend/components/dash/MarkdownBody.tsx
  frontend/components/dash/ReleaseNotesModal.tsx
  frontend/components/dash/WidgetCard.tsx
  frontend/components/dash/WidgetGrid.tsx
Due: tsc

fix: resolve set-state-in-effect lint errors in dash components
  frontend/components/dash/DashClient.tsx
  frontend/components/dash/ReleaseNotesModal.tsx
Due: tsc

chore: regenerate convex api types for dash_settings
  frontend/convex/_generated/api.d.ts
Due: tsc

fix: address code review audit findings
  frontend/components/dash/AddWidgetModal.tsx
  frontend/components/dash/DashClient.tsx
  frontend/components/dash/MarkdownBody.tsx
  frontend/components/dash/ReleaseNotesModal.tsx
Due: tsc

fix: improve error visibility in fetchReleases and parseDashPayload
  frontend/lib/dash/releases.ts
  frontend/utils/dashVariants.ts
Due: tsc

feat: redesign dash hero, fix edit mode, add share link
  frontend/components/common/VariantBar.tsx
  frontend/components/dash/DashClient.tsx
  frontend/components/dash/DashHero.tsx
Due: tsc

feat: add missing tools to dash registry (14 → 17)
  frontend/app/projects/warrior-cats/ancestry-tree/widget.ts
  frontend/app/single-cat-plus/widget.ts
  frontend/lib/dash/registry.generated.ts
  frontend/scripts/generate-registry.ts
Due: tsc

feat: add Share button to variant bar, widen release notes modal
  frontend/components/common/VariantBar.tsx
  frontend/components/dash/ReleaseNotesModal.tsx
Due: tsc

feat: replace Share button with Open button in hero
  frontend/components/common/VariantBar.tsx
  frontend/components/dash/DashClient.tsx
  frontend/components/dash/DashHero.tsx
Due: tsc

fix: exit edit mode when variant loads on page reload
  frontend/components/dash/DashClient.tsx
Due: tsc

chore: update frontend dependencies
  frontend/bun.lock
  frontend/package.json
Due: none

fix: harden error handling, sanitization, and type safety
  frontend/components/common/VariantBar.tsx
  frontend/components/dash/DashClient.tsx
  frontend/components/dash/MarkdownBody.tsx
  frontend/components/dash/ReleaseNotesModal.tsx
  frontend/components/dash/WidgetCard.tsx
  frontend/convex/dashSettings.ts
  frontend/lib/dash/releases.ts
  frontend/scripts/generate-registry.ts
Due: tsc

feat: add drag-and-drop reordering for dash widgets
  frontend/components/dash/DashClient.tsx
  frontend/components/dash/WidgetCard.tsx
  frontend/components/dash/WidgetGrid.tsx
Due: tsc

Path conditions:
  ruff-lint: any of: backend/**/*.py
  ruff-format: any of: backend/**/*.py
  tsc: any of: frontend/**/*.{ts,tsx}
